body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #333;
}

/* TODO: add warna buat yg lain, link*/
body.ubuntu a {
    color: #dd4814;
}

body.ubuntu a:hover, 
body.ubuntu a:focus {
    text-decoration: none;
    color: #dd4814;
    opacity: 0.8;
}

body.golang a {
    color: #4ac7de;
}

body.golang a:hover, 
body.golang a:focus {
    text-decoration: none;
    color: #4ac7de;
    opacity: 0.8;
}

body.docker a {
    color: #a2bdee;
}

body.docker a:hover, 
body.docker a:focus {
    text-decoration: none;
    color: #a2bdee;
    opacity: 0.8;
}

.w640 {
    max-width: 640px;
}

.logo {
    margin-bottom: 20px;
}

.content {
    margin-bottom: 20px;
}

.content > h3 {
    letter-spacing: 2px;
    color: #a9a9a9;
    text-transform: uppercase;
    margin-top: 60px;
    font-size: 12px;
}

.content > p {
    color: #333;
    font-size: 16px;
    line-height: 1.5em;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.logo-network {
    margin-top: 40px;
}


.unavailable {
    opacity: 0.5;
}

.logo-svg {
    width: 110px;
}

.logo-golang-svg {
    width: 74px;
    height: 32px;
}

.logo-docker-svg {
    width: 110px;
    height: 32px;
}

.logo-js-svg {
    width: 135px;
    height: 32px;
}

.logo-ubuntu-svg {
    width: 111px;
    height: 32px;
}

.logo-windows-svg {
    width: 127px;
    height: 32px;
}

.logo-kertaskampus-community-svg {
    width: 159.99px;
    height: 13px;
}

.by-kertaskampus {
    padding-top: 6.5px;
}

/* Navbar */
.litle-navbar.-at-home {
    margin-top: 100px;
}

.mission {
    margin-top: 40px;
}

.ubuntu-link-list > p,
.golang-link-list > p,
.docker-link-list > p {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 3px;
}

.ubuntu-link-list > p > a,
.golang-link-list > p > a,
.docker-link-list > p > a {
    color: #333;
    text-transform: capitalize;
    font-size: 14px;
}

.ubuntu-link-list > p > a:hover {
    color: #dd4814;
    opacity: 1;
}

.golang-link-list > p > a:hover {
    color: #4ac7de;
    opacity: 1;
}

.docker-link-list > p > a:hover {
    color: #a2bdee;
    opacity: 1;
}

.meta {
    font-size: 12px;
    letter-spacing: 2px;
    color: #c0c0c0;
    text-transform: uppercase;
}

.solution h1 {
    font-size: 32px;
    line-height: 1.5em;
    letter-spacing: 1px;
    font-weight: 700;
    margin-top: 0;
}

.solution.ubuntu p code {
    font-size: 13px;
    color: #dd4814;
}

.solution.golang p code {
    font-size: 13px;
    color: #4ac7de;
}

.solution.docker p code {
    font-size: 13px;
    color: #a2bdee;
}

pre {
    border-radius: 0;
    border: none;
    padding: 16px;
}

.footer {
    margin-bottom: 60px;
}

.social {
    margin-bottom: 20px;
}

.post {
    margin-top: 100px;
}

.author {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
}

.author, .author span a {
    color: rgba(0,0,0,0.3);
}