<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns/website#" itemscope itemtype="http://schema.org/WebSite">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Kertas Kampus for Ubuntu Community</title>
        <meta name="description" content="We help Ubuntu community by providing and maintaining high quality solution to answer their question and solve their problem." />
        
        <meta itemprop="name" content="Kertas Kampus for Ubuntu Community"/>
        <meta itemprop="url" content="https://ubuntu.kertaskampus.com/"/>
        <meta itemprop="sameAs" content="https://kertaskampus.com/"/>
        <meta itemprop="description" content="We help Ubuntu community by providing and maintaining high quality solution to answer their question and solve their problem."/>
        <meta itemprop="image" content="https://1.bp.blogspot.com/-CDhSV4wr14Q/VP9bgcFX9XI/AAAAAAAAE5s/aIt6U4WHfZs/s1600/kertaskampus-ubuntu800x600.png"/>

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@kertaskampus">
        <meta name="twitter:title" content="Kertas Kampus for Ubuntu Community">
        <meta name="twitter:description" content="We help Ubuntu community by providing and maintaining high quality solution to answer their question and solve their problem.">
        <meta name="twitter:creator" content="@peeyek">
        <meta name="twitter:image:src" content="https://1.bp.blogspot.com/-CDhSV4wr14Q/VP9bgcFX9XI/AAAAAAAAE5s/aIt6U4WHfZs/s1600/kertaskampus-ubuntu800x600.png">

        <meta property="og:title" content="Kertas Kampus for Ubuntu Community" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://ubuntu.kertaskampus.com/" />
        <meta property="og:image" content="https://1.bp.blogspot.com/-CDhSV4wr14Q/VP9bgcFX9XI/AAAAAAAAE5s/aIt6U4WHfZs/s1600/kertaskampus-ubuntu800x600.png" />
        <meta property="og:description" content="We help Ubuntu community by providing and maintaining high quality solution to answer their question and solve their problem." />
        <meta property="og:site_name" content="Kertas Kampus for Ubuntu Community" />

        <!-- Bootstrap -->
        <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="/bootstrap-3.3.2-dist/css/bootstrap.min.css">

        <!-- fonts -->
        <link href="http://fonts.googleapis.com/css?family=Montserrat:700,400" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
        
        <!-- custom style -->
        <link href="/assets/css/main.css" rel="stylesheet">
    
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
       
    </head>
    <body class="ubuntu">
        <span itemprop="author" itemscope itemtype="http://schema.org/Organization">
            <meta itemprop="name" content="Kertas Kampus"/>
            <meta itemprop="url" content="https://kertaskampus.com/"/>
            <meta itemprop="sameAs" content="https://kertaskampus.com/"/>
            <meta itemprop="logo" content="http://2.bp.blogspot.com/-B8hbObRejog/VP72OBaFc7I/AAAAAAAAE5g/1Gkp3-XULuE/s1600/kertaskampus-profile500x500.png"/>
            <meta itemprop="description" content="We provide and maintain high quality solution on the internet."/>
            <meta itemprop="image" content="http://2.bp.blogspot.com/-B8hbObRejog/VP72OBaFc7I/AAAAAAAAE5g/1Gkp3-XULuE/s1600/kertaskampus-profile500x500.png"/>

            <span itemprop="founder" itemscope itemtype="http://schema.org/Person">
                <meta content="Bayu Aldi Yansyah" itemprop="name">
                <meta content="Bayu Aldi Yansyah" itemprop="additionalName">
                <meta content="https://plus.google.com/112561854874693756984" itemprop="url">
                <meta content="male" itemprop="gender">
            </span>
        </span>

        <div class="container w640">
            <div class="row">
                <div class="litle-navbar -at-home col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a href="https://ubuntu.kertaskampus.com"><img class="logo-ubuntu-svg" src="/assets/svg/kertaskampus-ubuntu.svg"></a>

                    <a href="https://kertaskampus.com" class="by-kertaskampus pull-right"><img class="logo-kertaskampus-community-svg" src="/assets/svg/kertaskampus-community-navbar.svg"></a>
                </div>
                <div class="mission content col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>
                        We help Ubuntu community by providing and maintaning high quality solution to answer their question and solve their problem. 
                    </p>
                </div>
                <div class="ubuntu-latest content col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3>Latest Solution</h3>
                    {{ range first 5 .Data.Pages.ByDate.Reverse }}
                        <p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
                    {{ end }}
                </div>
                <div class="networks content col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3>growing network</h3>
                    <p>
                        We strongly focus solving technical problems, our audiences is from beginner to expert.
                    </p>

                    <div class="row network">
                        <div class="logo-network col-lg-3 col-md-6 col-sm-6">
                            <a href="#"><img class="logo-golang-svg unavailable" src="/assets/svg/kertaskampus-golang.svg"></a>
                        </div>
                        <div class="logo-network col-lg-3 col-md-6 col-sm-6">
                            <a href="#"><img class="logo-docker-svg unavailable" src="/assets/svg/kertaskampus-docker.svg"></a>
                        </div>
                        <div class="logo-network col-lg-3 col-md-6 col-sm-6">
                            <a href="#"><img class="logo-js-svg unavailable" src="/assets/svg/kertaskampus-javascript.svg"></a>
                        </div>
                        <div class="logo-network col-lg-3 col-md-3 col-sm-3">
                            <a href="#"><img class="logo-windows-svg unavailable" src="/assets/svg/kertaskampus-windows.svg"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>